/* ------------------
import google Fonts
-------------------- */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;700;800&family=Work+Sans:wght@400;500;600;700&display=swap');



/* -------------------
Common Styles
--------------------- */
* {
    margin: 0;
    font-family: 'Work Sans', sans-serif;
}

.container {
    width: 1440px;
    padding: 50px 0;
    margin: 0 auto;
}

h1 {
    font-size: 64px;
}

h2 {
    font-size: 45px;

}

.primary-btn {
    background-color: #FF900E;
    font-size: 20px;
    font-weight: 600;
    border: none;
    color: #FFFFFF;
    padding: 20px 25px;
    border-radius: 8px;
}



/* -------------------
Header Styles
-------------------- */
header {
    background-color: #FF900E1A;
}

.website-title {
    color: #131313;
}

nav {
    display: flex;
    justify-content: space-between;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-left: 55px;
}

nav ul li a {
    text-decoration: none;
    font-size: 18px;
    color: #424242;
}

.top-banner-info {
    width: 868px;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 50px;
}

.banner-title {
    color: #131313;
    margin-bottom: 25px;
}

.banner-discription {
    color: #727272;
    margin-bottom: 32px;
}


/* ----------------
Features Styles
------------------- */

.features {
    display: flex;
    align-items: center;
}

.features-image {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}

.features-info {
    margin-left: 71px;
    width: 537px;
}

.feature-title {
    line-height: 53px;
    margin-bottom: 24px;
}

.quick-list {
    color: #727272;
    font-weight: 500;
}

.title-feature {
    color: #FF900E;
}

.feature-description {
    color: #727272;
    margin-bottom: 32px;
    line-height: 26px;
}



/* -------------------
Experience Styles
------------------*/
.experience {
    display: flex;
    gap: 54px;
    align-items: center;
    position: relative;
}

.experience-title {
    color: #131313;
    padding-left: 21px;
    border-left: 5px solid #FF900E;
    margin-bottom: 24px;
}

.experience-info {
    line-height: 26px;
    color: #727272;
    margin-bottom: 30px;
}

.experience-box {
    padding: 30px 42px 30px 30px;
    margin-bottom: 20px;
    background: #FFFFFF;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
}

.experience-box-title {
    color: #131313;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}

.big-btn {
    position: absolute;
    align-self: center;
    bottom: 0;
    left: 43%;
}

.big-btn-text {
    font-size: 65px;
}



/* -----------------
Some Facts Styles
-------------------- */


.facts-description {
    margin-bottom: 100px;
    color: #727272;
    padding-top: 24px;
}

.square-boxes {
    display: flex;
    justify-content: space-between;
    gap: 120px;
}

.square-box {
    width: 241px;
    text-align: center;
    border: 1px solid #FF900E;
    border-radius: 8px;
    padding: 80px 50px;
}

.box-title {
    color: #424242;
    font-weight: 600;
}

.box-info {
    font-size: 20px;
    color: #727272;
}


/* -----------------------
Sponsors Styles
-------------------- */
.sponsors {
    text-align: center;
}

.sponsors-description {
    padding-top: 24px;
    color: #727272;
    margin-bottom: 50px;
}


.sponsors-images {
    display: flex;
    justify-content: space-around;
}